<!doctype html>
<html lang="ru">
<%- include('./partials/head')%>
<body>
<%- include('./partials/navbar')%>
<div class="container">
    <h1>Features</h1>
    <a href="/">Home</a>
    <br>
    <a href="/download" target="_blank">Download</a>
</div>

</body>
</html>