<!doctype html>
<html lang="ru">
<%- include('./partials/head')%>
<body>
<%- include('./partials/navbar')%>
<div class="container">
    <h1>Features</h1>
    <a href="/">Home</a>

    <ul id="app">

    </ul>

    <a href="/download" target="_blank">Download</a>
</div>
<script src="/app.js"></script>
</body>
</html>